body {
    background-color: rosybrown;
}

h1 {
    color: blanchedalmond;
    text-align: center;
}

#gallery {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px;
    grid-gap: 10px;
}

.gallery_img {
    height: 200px;
}

.gallery-item__audio {
    height: 200px;
}

.gallery-item__video {
    height: 200px;
}